

  <!-- AFTER LOGIN -->

{% extends "index.html" %}
{% block css %} 
 

{% endblock css %}
 
 <div class="sidebar" id="sidebar">
    {% block homebtn %}
    <a href="{% url 'user_profile' %}">YOUR PROFILE</a>
    <a href="{% url 'login2' %}">HOME</a>
    <a href="{% url 'about' %}">ABOUT US</a>
    <a href="{% url 'contact' %}">CONTACT</a>
    {% comment %} <a href="{% url 'log_out' %}">LOGOUT</a> {% endcomment %}
    <button  onclick="location.href='{% url 'log_out' %}'">LOGOUT</button> 
    {% endblock homebtn %}
 </div>




{% block ln %}
<div class="topnav-right">
    <span><strong>Welcome </strong>{{ username }}</span>
    <button class="btn fa fa-shopping-cart" onclick="location.href='{% url 'view_cart' %}'"></button>
    
</div>
{% endblock ln %}

{% block main %}
{% if messages %}
    <div class="error-messages">
        {% for message in messages %}
            <div>{{ message }}</div>
        {% endfor %}
    </div>
{% endif %}
{% endblock main %}

{% block more %}
<div class="card-footer bg-transparent border-top-0">
    <a href="{% url 'product_desc' product.id %}" class="btn btn-dark btn-block">View More</a>
</div>
{% endblock %}
